################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mobile/MedRemind.Mobile/appsettings.json
/mobile/MedRemind.Mobile/appsettings.json
