################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mobile/MedRemind.Mobile/appsettings.json
/mobile/MedRemind.Mobile/appsettings.json
/backend/MedRemind.Services/obj/Debug/net10.0/MedRemind.Services.AssemblyInfoInputs.cache
/backend/MedRemind.Services/obj/Debug/net10.0/MedRemind.Services.AssemblyInfo.cs
/backend/MedRemind.API/bin/Debug/net10.0/MedRemind.API.dll
/backend/MedRemind.API/bin/Debug/net10.0/MedRemind.API.exe
/backend/MedRemind.API/bin/Debug/net10.0/MedRemind.API.pdb
/backend/MedRemind.API/bin/Debug/net10.0/MedRemind.Services.dll
/backend/MedRemind.API/bin/Debug/net10.0/MedRemind.Services.pdb
/backend/MedRemind.API/obj/Debug/net10.0/ref/MedRemind.API.dll
/backend/MedRemind.API/obj/Debug/net10.0/refint/MedRemind.API.dll
/backend/MedRemind.API/obj/Debug/net10.0/apphost.exe
/backend/MedRemind.API/obj/Debug/net10.0/MedRemind.API.AssemblyInfo.cs
/backend/MedRemind.API/obj/Debug/net10.0/MedRemind.API.AssemblyInfoInputs.cache
/backend/MedRemind.API/obj/Debug/net10.0/MedRemind.API.csproj.AssemblyReference.cache
/backend/MedRemind.API/obj/Debug/net10.0/MedRemind.API.dll
/backend/MedRemind.API/obj/Debug/net10.0/MedRemind.API.pdb
/backend/MedRemind.API/obj/Debug/net10.0/MedRemind.API.sourcelink.json
/backend/MedRemind.API/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/backend/MedRemind.API/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/backend/MedRemind.Services/bin/Debug/net10.0/MedRemind.Services.dll
/backend/MedRemind.Services/bin/Debug/net10.0/MedRemind.Services.pdb
/backend/MedRemind.Services/obj/Debug/net10.0/ref/MedRemind.Services.dll
/backend/MedRemind.Services/obj/Debug/net10.0/refint/MedRemind.Services.dll
/backend/MedRemind.Services/obj/Debug/net10.0/MedRemind.Services.csproj.CoreCompileInputs.cache
/backend/MedRemind.Services/obj/Debug/net10.0/MedRemind.Services.dll
/backend/MedRemind.Services/obj/Debug/net10.0/MedRemind.Services.pdb
/backend/MedRemind.Services/obj/Debug/net10.0/MedRemind.Services.sourcelink.json
/backend/MedRemind.Tests/bin/Debug/net10.0/MedRemind.Services.dll
/backend/MedRemind.Tests/bin/Debug/net10.0/MedRemind.Services.pdb
/backend/MedRemind.Tests/bin/Debug/net10.0/MedRemind.Tests.dll
/backend/MedRemind.Tests/bin/Debug/net10.0/MedRemind.Tests.pdb
/backend/MedRemind.Tests/obj/Debug/net10.0/ref/MedRemind.Tests.dll
/backend/MedRemind.Tests/obj/Debug/net10.0/refint/MedRemind.Tests.dll
/backend/MedRemind.Tests/obj/Debug/net10.0/MedRemind.Tests.AssemblyInfo.cs
/backend/MedRemind.Tests/obj/Debug/net10.0/MedRemind.Tests.AssemblyInfoInputs.cache
/backend/MedRemind.Tests/obj/Debug/net10.0/MedRemind.Tests.csproj.AssemblyReference.cache
/backend/MedRemind.Tests/obj/Debug/net10.0/MedRemind.Tests.dll
/backend/MedRemind.Tests/obj/Debug/net10.0/MedRemind.Tests.pdb
/backend/MedRemind.Tests/obj/Debug/net10.0/MedRemind.Tests.sourcelink.json
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/MedRemind.Mobile.dll
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/MedRemind.Mobile.pdb
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/MedRemind.Services.dll
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/MedRemind.Services.pdb
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/android/assets/arm64-v8a/MedRemind.Mobile.dll
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/android/assets/arm64-v8a/MedRemind.Mobile.pdb
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/android/assets/arm64-v8a/MedRemind.Mobile.typemap.xml
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/android/assets/arm64-v8a/MedRemind.Services.dll
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/android/assets/arm64-v8a/MedRemind.Services.pdb
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/android-arm64/MedRemind.Mobile.csproj.AssemblyReference.cache
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/devices.cache
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/MedRemind.Mobile.AssemblyInfo.cs
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/MedRemind.Mobile.AssemblyInfoInputs.cache
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/MedRemind.Mobile.csproj.AssemblyReference.cache
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/MedRemind.Mobile.dll
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/MedRemind.Mobile.pdb
/mobile/MedRemind.Mobile/obj/Debug/net10.0-android/MedRemind.Mobile.sourcelink.json
/backend/MedRemind.API/bin/Debug/net10.0/MedRemind.Core.dll
/backend/MedRemind.API/bin/Debug/net10.0/MedRemind.Core.pdb
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/com.medremind.app-Signed.apk
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/com.medremind.app-Signed.apk.idsig
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/com.medremind.app.apk
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/MedRemind.Core.dll
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/MedRemind.Core.pdb
/mobile/MedRemind.Mobile/bin/Debug/net10.0-android/MedRemind.Mobile.runtimeconfig.json
/mobile/MedRemind.Mobile/obj/.cache/com.medremind.app.flag
